:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*
  TABLE CONTROLLER STYLE
*/

.table-controller {
  top: 0;

  height: 5vh;
  width: 100vw;

  border: white 1px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*
  LIST STYLE
*/

.list-group {
  width: 90vw;

  margin: auto;
  padding: 0;

  list-style: none;
}

.list-element {
  height: 5vh;
  width: 100%;

  cursor: pointer;

  border: white 1px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.selected {
  height: 10vh;
}

.element-small, .element-big {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.element-small {
  visibility: visible;
}

.element-big {
  visibility: hidden;
  height: 0;
  width: 0;
}

.selected .element-small {
  visibility: hidden;
  height: 0;
  width: 0;
}

.selected .element-big {
  visibility: visible;
  border: red 1px dotted;
}




.list-element:active {
  border: white 1px dotted;
}

.list-element div {
  padding: auto;
}

.list-element-id {
  text-align: center;
  width: 5%;
}

.list-element-title {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
}

.list-element-misc {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

/* MISC STUFF xp */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}